    <div class="quote_attachment">
      <div class="field">
        <%= f.label :text %><br />
        <%= f.text_area :text %>
      </div>
      <div class="field">
        <%= f.label :author %><br />
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :url %><br />
        <%= f.text_field :url %>
      </div>
    </div>
